* {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkblue;
    font-family: 'Courier New', Courier, monospace;
}

main {
    // background-color: rgb(20, 20, 20);
    background-color: #1B1F24;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 3000px;
    margin: {
        left: auto;
        right: auto;
    }
    box-shadow: 0px 0px 8px 1px black
}

h1 {
    text-align: center;
    position: relative;
    top: 2rem;
    font-family: sans-serif;
    font-size: 2.4rem;
    color: whitesmoke;
    text-shadow: 1px 1px 8px black;
}

h2 {
    position: relative;
    top: 2.5rem;
    text-align: center;
    color: grey;
    font-family: monospace;
    text-shadow: 1px 1px 8px black;
}

section {
    width: 80%;
    margin: {
        top: 15%;
        right: auto;
        left: auto;
    };
    //proba flexa, nieudana
    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: row;
    // gap: 1rem;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(3, 1fr, rem, 1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 1rem;
    > .box {
        height: 10rem;
        width: 20rem;
        background-color: rgb(18, 0, 82);
        border-radius: 20px;
        position: relative;
        box-shadow: 0px 4px 10px 1px black;
        border: 1px solid rgb(0, 0, 0);
        border-top: 1px ridge black ;
        &:hover {
            transform: translateY(-10px);
            box-shadow: 1px 4px 10px 1px rgb(85, 85, 247);
            transition: 0.4s;
        }
    }
    .b-1 {
        justify-self: flex-end;
    }
    .b-2 {
        grid-column: 3;
        grid-row: 2;
        
    }
    .b-3 {
        grid-column: 1;
        grid-row: 3;
        justify-self: flex-end;
    }
    .b-4 {
        grid-column: 3;
        grid-row: 4;
        
    }
    .b-5 {
        grid-column: 1;
        grid-row: 5;
        justify-self: flex-end;
    }
    .b-6 {
        grid-column: 3;
        grid-row: 6;
    }
}


.dropdown {
    position: relative;
    > button {
        position: relative;
        z-index: 2;
        transition: 0.3s;
    }
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 0 16px;
        width: 20rem;
        height: 10rem;
        border-radius: 20px;
        color: #f9f9f9;
        background: rgb(1, 1, 66);
        border: 0;
        cursor: pointer;
        font-size: 3rem;
        font-family: monospace;
        &:hover {
            background-color: rgb(2, 2, 146);
        }
    }
  }

.menu {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  top: 9rem;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 0;
  background: #3e3e3e;
  translate: 0 -20px;
  transition: 0.4s;
  box-shadow: 1px 8px 8px black;
  button {
    border: 0;
    width: 100%;
    height: 56px;
    border-radius: 0;
    align-items: center;
    justify-content: flex-start;
      font-size: 1rem;
    &:hover {
        background: rgb(2, 2, 146);
    }
    #icon {
        margin-left: auto;
    }
  }
}

.dropdown.open {
  .menu {
      opacity: 1;
      translate: 0;
      visibility: visible;
    }
    > button {
        background-color: #15a480;
    }
}