body {
    background-color: rgb(28, 28, 28);
    margin: 3em;
    font-family: 'Merriweather', sans-serif;
    color: rgb(0, 0, 0);
    margin-right: 5em;
    margin-left: 5em;
}
.cointainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    .frame {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
        align-self: flex-end;
        border: 0 solid #052d73;
        padding: 5em;
        padding-top: 3.5rem;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        // margin-right: 30em;
        // margin-left: 5em;
    }
    .introduction{
        padding: 1em;
        margin-bottom: 1em;
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
        color: white;
        text-align: left;
        ul{
            padding: 12px;
            color: lightgray;
        }
    .image{
        position: absolute;
        padding: 1rem;
        width: max-content;
        position: relative;
        bottom: 5rem;
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 5;
    }
}
.framework{
    color: white;
    margin-bottom: 1rem;
}
}
.text{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.environment {
    margin-bottom: 1.5em;
}
.coding {
    margin-bottom: 1.5em;
}
.examples {
    margin-bottom: 0.5em;
}
.tags {
    margin-bottom: 1.5em;
}
.link {
    margin-bottom: 1.5em;
}
.example1 {
    margin-bottom: 1.5em;
}
.website {
    margin-bottom: 1.5em;
}
